﻿body {
    padding-top:10px;
}

.forHeader {
    padding: 10px;
    background-color: darkorange;
    color: beige;
}

.forBody {
    background-color: #333300;
    margin-left: 10px;
    color: aliceblue;
}