﻿body {
    padding-top:50px;
    padding-bottom:20px;
    background-color:aliceblue;
}

.code{
    white-space:pre-wrap;
    font-family:'Times New Roman', Times, serif;
}


.body-content{
    padding-left:12px;
    padding-right:12px;
   
}


.h2{
    text-align:center;
}

@media screen{
    #image1{
        margin-top:15px;
        width:650px;
    }
    .body-content {
        padding: 0;
      
    }
}


h3{
    text-decoration:underline;
}