﻿body {
    padding-top: 10px;

}

.forHeader1 {
    padding: 10px;
    background-color: lightsalmon;
    color: blue;
}

.forBody1 {
    background-color:beige;
    margin-left: 10px;
    color: black;
}

