﻿<%@ Control Language="C#" AutoEventWireup="true"  EnableViewState="true" CodeBehind="CodeBox.ascx.cs" Inherits="WebApplication1.usercontrols.CodeBox" %>

<%--<asp:DataGrid ID="Teacher_Code" runat="server" SkinId="GridViewSkin" >


</asp:DataGrid>--%>

<%--<asp:DataGrid ID="My_Code" runat="server" SkinId="GridViewSkin" >

  
</asp:DataGrid>
 --%>

<asp:DataGrid ID="code_Container" runat="server" SkinId="GridViewSkin" >
    </asp:DataGrid>
<div id="data"></div>
